# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.pytest_cache/

# Environments
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Env files
.env
.env.*

# Logs
*.log

# Byte-compiled
*.py[cod]
*.class

# OneDrive temp
~$*
